<div class="card">

    <div class="col-12 text-left" style="margin-bottom: 2%;">
        <button class="btn-tramite" (click)="muestraAviso(content,1,'')">
            <svg class="icon" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 19h-7a2 2 0 0 1 -2 -2v-11a2 2 0 0 1 2 -2h4l3 3h7a2 2 0 0 1 2 2v3.5" />
                <path d="M16 19h6" />
                <path d="M19 16v6" />
            </svg>
            <span>Agregar subtrámite</span>
        </button>
    </div>

    <div class="table-responsive">
        <table class="table table-vcenter text-nowrap datatable" style="width: 100%;">
            <thead>
                <tr>
                    <th>
                        <button class="table-sort" (click)="sort('')">Descripción</button>
                    </th>
                    <th>
                        <button class="table-sort" (click)="sort('')">Subtramite</button>
                    </th>
                    <th>
                        <button class="table-sort" (click)="sort('')">Fecha Creación</button>
                    </th>
                    <th>
                        <button class="table-sort" (click)="sort('')">Fecha Actualización</button>
                    </th>
                    <th>
                        <button class="table-sort" (click)="sort('')">Publicación</button>
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (subtramite of data; track $index) {
                <tr>
                    <td>{{subtramite.descripcion}}</td>
                    <td>{{subtramite.descripcion}}</td>
                    <td>{{subtramite.created_at | date:'dd-MM-yyyy H:mm:ss'}}</td>
                    <td>{{subtramite.updated_at | date:'dd-MM-yyyy H:mm:ss'}}</td>
                    <td>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                                [checked]="subtramite.estatus" (change)="actualizasubTramiteEstatus($event,subtramite)">
                        </div>
                    </td>
                    <td class="text-center">
                        <button class="btn-tramite" (click)="muestraAviso(content,2,subtramite)">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-edit">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                                <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
                                <path d="M16 5l3 3" />
                            </svg>
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="btn-tramite" (click)="muestraCamposSubtramite(campos,subtramite)">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-menu-deep">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M4 6h16" />
                                <path d="M7 12h13" />
                                <path d="M10 18h10" />
                            </svg>
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="btn-tramite" (click)="borrasubTramiteID(subtramite)">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-trash">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M4 7l16 0" />
                                <path d="M10 11l0 6" />
                                <path d="M14 11l0 6" />
                                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                            </svg>
                        </button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <!--
    <div class="card-body">
        <p class="m-0 text-secondary">
            Mostrando <span> {{ paginationQuery.page }}</span> -
            <span> {{ paginationData.last_page }} </span> de
            <span> {{ paginationData.total }} </span> entradas
        </p>
    </div>
    <div class="card-footer">
        <ngb-pagination class="m-0 ms-auto" [(page)]="paginationQuery.page" (pageChange)="getData()"
            [pageSize]="paginationQuery.limit || 10" [boundaryLinks]="true" [collectionSize]="paginationData.total"
            [ellipses]="false" [rotate]="true" [maxSize]="5" />
    </div>
    -->



</div>


<!--<button type="button" class="btn btn-primary" (click)="saveForm()"> Guardar</button>-->
<!-- MODALS -->

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Agregar subtrámite</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body" style="text-align: justify;">
        <div class="row">
            <div class="col-lg-12 col-12 mb-3">
                <label class="form-label">Subtrámite</label>
                <input type="text" class="form-control" name="example-text-input"
                    placeholder="Ingrese el nombre del subtrámite" [(ngModel)]="payload.descripcion"
                    #descripcionInput />
            </div>
            <div class="col-lg-12 col-12 mb-3">
                <label class="form-label">Detalle</label>
                <textarea type="text" rows="5" class="form-control" name="example-text-input"
                    placeholder="Detalle el subtrámite" maxlength="300" [(ngModel)]="payload.detalle" #detalleInput>
                </textarea>
            </div>
            <div class="col-lg-12 col-12 mb-3">
                <label class="form-label">Tipo de usuario</label>
                <select class="form-select" multiple name="usuario" [(ngModel)]="payload.tipo_usuarios_restringidos"
                    [class.is-invalid]="usuario.invalid && (usuario.dirty || usuario.touched)" required
                    #usuario="ngModel" style="width: 100%;">
                    <option *ngFor="let usu of catTipoU" [value]="usu.id">{{usu.descripcion}}</option>
                </select>
                <label>
                    <h6>Presione la tecla ctrl y seleccione las opciones</h6>
                </label>
            </div>
            <div class="col-lg-12 col-12 mb-3">
                <label class="form-label">Trámite</label>
                <select class="form-select" name="opcion" id="exampleFormControlInput9"
                    [(ngModel)]="payload.ca_tramite_id" required #tramite="ngModel" #tramiteInput
                    [class.is-invalid]="tramite.invalid && (tramite.dirty || tramite.touched)">
                    <option value=""></option>
                    <option *ngFor="let tram of catTramite" [value]="tram.id">{{tram.descripcion}}</option>
                </select>
            </div>
            <div class="col-lg-12 col-12 mb-3">
                <label class="form-label">Cargar Archivos</label>
                <div class="custom-file-upload text-center" style="padding-top: 10px;">
                    <label for="fileInput">📁 Subir archivo</label>
                    <input id="fileInput" name="file" type="file" accept=".pdf"
                        (change)="convertirArchivoBase64($event,'a')" />
                    <small *ngIf="payload.fileb64" class="text-success">Archivo listo</small>
                </div>
                <div class="dz-message text-center">
                    <span class="dropzone-msg-desc" style="font-size: 10px; color: gray; font-weight: 500;">Peso no
                        mayor
                        a 5 MB, sólo formato PDF</span>
                </div>
            </div>
            <div class="col-lg-12 col-12 mb-3">
                <div class="custom-file-upload text-center" style="padding-top: 10px;">
                    <label for="fileInputb">📁 Subir archivo</label>
                    <input id="fileInputb" name="fileb" type="file" accept=".pdf"
                        (change)="convertirArchivoBase64($event,'b')" />
                    <small *ngIf="payload.fileb641" class="text-success">Archivo listo</small>
                </div>
                <div class="dz-message text-center">
                    <span class="dropzone-msg-desc" style="font-size: 10px; color: gray; font-weight: 500;">Peso no
                        mayor
                        a 5 MB, sólo formato PDF</span>
                </div>
            </div>
            <div class="col-lg-12 col-12 mb-3">
                <div class="custom-file-upload text-center" style="padding-top: 10px;">
                    <label for="fileInputc">📁 Subir archivo</label>
                    <input id="fileInputc" name="filec" type="file" accept=".pdf"
                        (change)="convertirArchivoBase64($event,'c')" />
                    <small *ngIf="payload.fileb642" class="text-success">Archivo listo</small>
                </div>
                <div class="dz-message text-center">
                    <span class="dropzone-msg-desc" style="font-size: 10px; color: gray; font-weight: 500;">Peso no
                        mayor
                        a 5 MB, sólo formato PDF</span>
                </div>
            </div>
            <div class="col-lg-12 col-12 mb-3">
                <label class="form-label">Ver Archivos</label>
                <ul class="list-group">
                    <div *ngFor="let item of payload.files; let i = index">
                        <li class="list-group-item d-flex">

                            <a mat-button
                                href="{{url}}{{item.url_file[0]}}/{{item.url_file[1]}}/{{item.nombre}}/{{item.url_file[3]}}"
                                target="_blank">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-paperclip">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path
                                        d="M15 7l-6.5 6.5a1.5 1.5 0 0 0 3 3l6.5 -6.5a3 3 0 0 0 -6 -6l-6.5 6.5a4.5 4.5 0 0 0 9 9l6.5 -6.5" />
                                </svg><span> Nombre del Archivo {{i + 1}}</span>
                            </a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cerrar</button>
        <button type="button" *ngIf="addEdit == 1" class="btn btn-aceptar"
            (click)="guardarsubTramite()">Guardar</button>
        <button type="button" *ngIf="addEdit == 2" class="btn btn-aceptar"
            (click)="actualizasubTramiteID()">Actualizar</button>
    </div>
</ng-template>

<ng-template #campos let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Campos subtrámite</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>

    <div class="modal-body" style="text-align: justify;">
        
        <div #formContainer id="formContainer" style="width: 100%; height: 800px;"></div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cerrar</button>
        <button type="button" *ngIf="addEdit == 1" class="btn btn-aceptar" (click)="saveForm()"> Guardar</button>
        <button type="button" *ngIf="addEdit == 2" class="btn btn-aceptar" (click)="updateForm()"> Actualizar</button>
    </div>
</ng-template>

<!--<ng-template #campos let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Campos subtrámite</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>

    <div class="modal-body" style="text-align: justify;">

        <h3 style="margin-bottom: 0!important;">Sección</h3>
        <hr style="margin-top: 10px!important;">
        <div class="row">
            <div class="col-lg-12 col-12 mb-3">
                <label class="form-label">Título sección</label>
                <input type="text" class="form-control" name="example-text-input"
                    placeholder="Ingrese el nombre de la sección" #descripcionInput />
            </div>
            <div class="col-lg-12 col-12 mb-3 d-flex justify-content-end">
                <button type="button" class="btn btn-aceptar">Agregar sección</button>
            </div>
        </div>

        <h3 style="margin-bottom: 0!important;">Campos</h3>
        <hr style="margin-top: 10px!important;">
        <div class="row">
            <div class="col-lg-6 col-12 mb-3">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" name="example-text-input"
                    placeholder="Ingrese el nombre" #descripcionInput />
            </div>
            <div class="col-lg-6 col-12 mb-3">
                <label class="form-label">Etiqueta</label>
                <input type="text" class="form-control" name="example-text-input"
                    placeholder="Ingrese el nombre de la etiqueta" #descripcionInput />
            </div>
            <div class="col-lg-6 col-12 mb-3">
                <label class="form-label">Validaciones</label>
                <select class="form-select" name="opcion" id="exampleFormControlInput9" #tramiteInput>
                    <option value="">validacion 1</option>
                    <option value="">validacion 2</option>
                </select>
            </div>
            <div class="col-lg-6 col-12 mb-3">
                <label class="form-label">Mensaje error</label>
                <input type="text" class="form-control" name="example-text-input"
                    placeholder="Ingrese el mensaje de error" #descripcionInput />
            </div>
            <div class="col-lg-6 col-12 mb-3">
                <label class="form-label">Longitud del campo</label>
                <input type="text" class="form-control" name="example-text-input"
                    placeholder="Ingrese la longitud del campo" #descripcionInput />
            </div>
            <div class="col-lg-6 col-12 mb-3">
                <label class="form-label">Tipo campo</label>
                <select class="form-select" name="opcion" id="exampleFormControlInput9" #tramiteInput>
                    <option value="">tipo campo 1</option>
                    <option value="">tipo campo 2</option>
                </select>
            </div>
            <div class="col-lg-4 col-12 mb-3">
                <label class="form-check">
                    <input class="form-check-input" type="checkbox" />
                    <span class="form-check-label">Requerido</span>
                </label>
            </div>
            <div class="col-lg-4 col-12 mb-3">
                <label class="form-check">
                    <input class="form-check-input" type="checkbox" />
                    <span class="form-check-label">Persona física</span>
                </label>
            </div>
            <div class="col-lg-4 col-12 mb-3">
                <label class="form-check">
                    <input class="form-check-input" type="checkbox" />
                    <span class="form-check-label">Persona moral</span>
                </label>
            </div>
            <div class="col-lg-12 col-12 mb-3 d-flex justify-content-end">
                <button type="button" class="btn btn-aceptar">Agregar campo</button>
            </div>

        </div>

        <h3 style="margin-bottom: 0!important;">Vista previa</h3>
        <hr style="margin-top: 10px!important;">
        <div class="row align-items-center">
            <div class="col-lg-1 col-12 mb-3"></div>
            <div class="col-lg-9 col-12 mb-3">
                <input type="text" class="form-control" name="example-text-input"
                    placeholder="Información aquí" #descripcionInput />
            </div>
            <div class="col-lg-1 col-12 mb-3 text-center">
                <div class="form-check form-switch" style="margin-bottom: 0rem!important;">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                </div>
            </div>
            <div class="col-lg-1 col-12 mb-3 text-center">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-edit"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" /></svg>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cerrar</button>
        <button type="button" class="btn btn-aceptar">Guardar</button>
    </div>

</ng-template>-->