<div class="datagrid">
  @for (item of components; track $index) { @switch (item.type) {
  @case('textfield') {
  <div class="datagrid-item">
    <div class="datagrid-title">{{ item.label }}</div>
    <div class="datagrid-content">{{ item.value }}</div>
  </div>
  } @case('filepicker') {
  <div class="datagrid-item">
    <div class="datagrid-title">{{ item.label }}</div>
    <div class="datagrid-content">
      <a class="btn btn-primary" target="_blank" [href]="fileUrl + item.value"
        ><i class="ti ti-download me-2"></i>Descargar</a
      >
    </div>
  </div>
  } @case('datetime') {
  <div class="datagrid-item">
    <div class="datagrid-title">{{ item.label }}</div>
    <div class="datagrid-content">{{ item.value }}</div>
  </div>
  } @case('radio') {
  <div class="datagrid-item">
    <div class="datagrid-title">{{ item.label }}</div>
    <div class="datagrid-content">{{ item.value }}</div>
  </div>
  } } }
</div>
