<div class="page">
  <app-header></app-header>
  <app-menu></app-menu>
  <div class="page-wrapper">
    <div class="page-header d-print-none">
      <div class="container-xl">
        <app-breadcrumbs></app-breadcrumbs>
        <div class="row g-2 align-items-center"></div>
        <div class="row g-2 align-items-center">
          <div class="col">
            <h2 class="page-title"></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="page-body">
      <div class="container-xl">
        <router-outlet></router-outlet>
      </div>
    </div>
    <footer class="footer d-print-none" style="color: #FFF; background-color: #6a1c32; font-weight: 700;">
      <app-footer></app-footer>
    </footer>
  </div>
</div>
