<div class="card mb-5" style="min-height: 60vh;">
  <div class="card-status-top bg-primary"></div>
  <div class="card-header">
    <ul
      class="nav nav-tabs card-header-tabs nav-fill"
      data-bs-toggle="tabs"
      role="tablist"
    >
      @for (navMenu of navMenus; track $index) {
      <li class="nav-item" role="presentation">
        <a
          href="#{{ navMenu.id }}"
          class="nav-link"
          [ngClass]="{
            active: navMenu.active,
          }"
          data-bs-toggle="tab"
          aria-selected="true"
          role="tab"
        >
          <i [ngClass]="navMenu.icon" class="icon me-2"></i>
          {{ navMenu.title }}
        </a>
      </li>
      }
    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content">
      <div class="tab-pane active show" id="difusion" role="tabpanel">
        <h4>Difusión de trámites y servicios</h4>
        <app-tramites-servicios></app-tramites-servicios>
      </div>
   
      <div class="tab-pane" id="solicitud" role="tabpanel">
        <h4>Solicitud de trámite</h4>
        <app-mis-tramites></app-mis-tramites>
      </div>
      <div class="tab-pane" id="avance" role="tabpanel">
        <h4>Avance de atención</h4>
        <app-mis-expedientes></app-mis-expedientes>
      </div>
      <div class="tab-pane" id="citas" role="tabpanel">
        <h4>Citas en línea</h4>
        <app-tramites-citas></app-tramites-citas>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-status-top bg-primary"></div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-5 col-md-12 carrusel-container order-lg-0 order-1 mt-lg-0 mt-4">
        @if (app) {
          <ngb-carousel class="fixed-size-carousel">
            @for (image of app.images; track $index) {
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="image.url" class="img-carrusel"/>
              </div>
            </ng-template>
            }
          </ngb-carousel>
        }
      </div>
    </div>
  </div>
</div>