<div class="card">
    <div class="card-status-top bg-primary"></div>
    <div class="card-body">
      
      <div id="carousel-sample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carousel-sample" data-bs-slide-to="0"
            class="active"></button>
          <button type="button" data-bs-target="#carousel-sample"
            data-bs-slide-to="1"></button>
          <button type="button" data-bs-target="#carousel-sample"
            data-bs-slide-to="2"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" alt="" src="/assets/imgs/pue-1.png" [ngClass]="isSmallScreen ? 'img-carrusel-celular' : 'img-carrusel'"/>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" alt="" src="/assets/imgs/pue-2.png" [ngClass]="isSmallScreen ? 'img-carrusel-celular' : 'img-carrusel'"/>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" alt="" src="/assets/imgs/pue-3.png" [ngClass]="isSmallScreen ? 'img-carrusel-celular' : 'img-carrusel'"/>
          </div>
        </div>
        <a class="carousel-control-prev" data-bs-target="#carousel-sample"
          role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" data-bs-target="#carousel-sample"
          role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>

    </div>
</div>

<div class="row" style="margin-top: 3%;">
  <div class="col-lg-4 col-12 mb-3" style="padding-left: 2!important; padding-right: 2!important;">
    <a routerLink="#" style="text-decoration: none; cursor: pointer;">
      <div class="card card-servicios" style="height: 120px; text-align: center;">
          <h6 class="card-title" style="margin: auto;"><b>Servicios</b></h6>
      </div>
    </a>
  </div>
  <div class="col-lg-4 col-12 mb-3" style="padding-left: 2!important; padding-right: 2!important;">
    <a routerLink="#" style="text-decoration: none; cursor: pointer;">
      <div class="card card-pagos" style="height: 120px; text-align: center;">
          <h6 class="card-title" style="margin: auto;"><b>Pagos</b></h6>
      </div>
    </a>
  </div>
  <div class="col-lg-4 col-12 mb-3" style="padding-left: 2!important; padding-right: 2!important;">
    <a routerLink="#" style="text-decoration: none; cursor: pointer;">
      <div class="card card-boletas" style="height: 120px; text-align: center;">
          <h6 class="card-title" style="margin: auto;"><b>Boletas</b></h6>
      </div>
    </a>
  </div>
</div>



