<div class="list-group list-group-flush">
  @for (oficio of dataOficios; track $index) {
  <div class="list-group-item">
    <div class="row align-items-center">
      <div class="col-auto"><span class="badge bg-red"></span></div>
      <div class="col-auto">
        <a href="#">
          <span
            class="avatar"
          >
          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-file"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" /></svg>
          </span>
        </a>
      </div>
      <div class="col text-truncate">
        <a [href]="downloadEndpoint + oficio.id" target="_blank" class="text-reset d-block">{{oficio.oficio_tarea.tipo_oficio}}</a>
        <div class="d-block text-secondary text-truncate mt-n1">
          {{oficio.oficio_tarea.nombre_oficio}}
        </div>
      </div>
      <div class="col-auto">
        <a [href]="downloadEndpoint + oficio.id" class="list-group-item-actions"
        target="_blank"
          >
          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-download"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" /><path d="M7 11l5 5l5 -5" /><path d="M12 4l0 12" /></svg>
         </a>
      </div>
    </div>
  </div>
  }
</div>
