<form (ngSubmit)="onSubmit()" [formGroup]="form">
  @for (rowGroup of groupedComponents; track $index) {
  <div class="mb-3 row">
    @for (component of rowGroup.components; track component; let idx = $index) {
    <div [ngClass]="columnClass(component.layout.columns)">
      <app-camunda-form-component
        [component]="component"
        [form]="form"
      ></app-camunda-form-component>
    </div>
    }
  </div>
  }
  <div class="mb-3">
    <button type="submit" [disabled]="!form.valid" class="btn btn-primary">
      {{ buttonText }}
    </button>
  </div>
</form>
