<div class="card">
  <div class="card-body">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li [ngbNavItem]="1">
        <button ngbNavLink>Trámites</button>
        <ng-template ngbNavContent>
          <app-inicio-tramite></app-inicio-tramite>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <button ngbNavLink>Servicios</button>
        <ng-template ngbNavContent>
          <app-inicio-servicios></app-inicio-servicios>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</div>
