<div class="mb-3">
  <div class="input-icon">
    <input
      type="text"
      value=""
      class="form-control form-control-rounded"
      placeholder="Buscar trámite"
      [(ngModel)]="filterText"
    />
    <span class="input-icon-addon">
      <!-- Download SVG icon from http://tabler.io/icons/icon/search -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-1"
      >
        <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
        <path d="M21 21l-6 -6"></path>
      </svg>
    </span>
  </div>
</div>
<div ngbAccordion [closeOthers]="true">
  @for (categoria of categoriasFiltradas; track $index; let first = $first) {
  <div ngbAccordionItem [collapsed]="!first">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>{{ categoria.categoria }}</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <div class="list-group list-group-flush list-group-hoverable">
            @for (tramite of categoria.tramites; track $index) {
            <div class="list-group-item">
              <div class="row align-items-center">
                <div class="col-auto">
                  <span class="avatar avatar-1 cursor-pointer">
                    <img
                      [src]="fileEndpoint + tramite.link_img"
                      [routerLink]="'/tramite/info/' + tramite.id"
                    />
                  </span>
                </div>
                <div class="col text-truncate">
                  <!--<a [href]="tramite.link_ayuda" target="_blank" class="text-reset d-block">
                    {{ tramite.tramite }}</a
                  >-->
                  <a
                    [routerLink]="'/tramite/info/' + tramite.id"
                    class="text-reset d-block"
                    >{{ tramite.tramite }}</a
                  >
                  <div class="d-block text-secondary text-truncate mt-n1">
                    {{ tramite.descripcion }}
                  </div>
                </div>
                <div class="col-auto">
                  <a
                    class="btn btn-icon list-group-item-actions"
                    [href]="fileEndpoint + tramite.link_archivo"
                    target="_blank"
                  >
                    <i class="icon ti ti-file"></i>
                  </a>
                </div>
              </div>
            </div>

            }
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  }
</div>
