@if(menus && menus.length > 0) {
<header class="navbar-expand-md">
  <div class="collapse navbar-collapse" id="navbar-menu">
    <div class="navbar">
      <div class="container-xl">
        <div class="row flex-fill align-items-center">
          <div class="col">
            <ul class="navbar-nav">
              @for (menu of menus; track $index) {
              <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="menu.route">
                  <i class="icon menu-icon {{ menu.iconClass }}"></i>
                  <span class="nav-link-title">
                    {{ menu.label }}
                  </span>
                </a>
              </li>
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
}
