<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Cambiar contraseña</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close()"></button>
    </div>
    <form [formGroup]="updatePasswordForm" (ngSubmit)="submit()">
        <div class="modal-body">
            <div class="mb-3">
                La contraseña debe tener al menos 6 caracteres e incluir una combinación de números, letras y caracteres
                especiales (!$&#64;%).
            </div>
            <div class="mb-3">
                <label class="form-label required"> Contraseña actual </label>
                <div class="row g-2">
                    <div class="col">
                        <input [type]="showOldPassword ? 'text' : 'password'" class="form-control" placeholder=""
                            autocomplete="off" formControlName="oldPassword"
                            [ngClass]="{ 'is-invalid': oldPasswordError }" />
                        <div class="invalid-feedback">{{ oldPasswordErrorMessage }}</div>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-icon" (click)="showOldPassword = !showOldPassword">
                            <i class="ti" [ngClass]="{
                          'ti-eye': showOldPassword,
                          'ti-eye-closed': !showOldPassword
                        }"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label required"> Contraseña nueva </label>
                <div class="row g-2">
                    <div class="col">
                        <input [type]="showNewPassword ? 'text' : 'password'" class="form-control" placeholder=""
                            autocomplete="off" formControlName="newPassword"
                            [ngClass]="{ 'is-invalid': newPasswordError }" />
                        <div class="invalid-feedback">{{ newPasswordErrorMessage }}</div>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-icon" (click)="showNewPassword = !showNewPassword">
                            <i class="ti" [ngClass]="{
                          'ti-eye': showNewPassword,
                          'ti-eye-closed': !showNewPassword
                        }"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label required"> Repetir contraseña nueva </label>
                <div class="row g-2">
                    <div class="col">
                        <input [type]="showRepeatPassword ? 'text' : 'password'" class="form-control" placeholder=""
                            autocomplete="off" formControlName="repeatPassword"
                            [ngClass]="{ 'is-invalid': repeatPasswordError }" />
                        <div class="invalid-feedback">{{ repeatPasswordErrorMessage }}</div>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-icon" (click)="showRepeatPassword = !showRepeatPassword">
                            <i class="ti" [ngClass]="{
                          'ti-eye': showRepeatPassword,
                          'ti-eye-closed': !showRepeatPassword
                        }"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" [disabled]="updatePasswordForm.invalid">
                Aceptar
            </button>
            <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close()">
                Cerrar
            </button>
        </div>
    </form>
</div>