<div class="card" [@fadeInLeft]="fadeInLeft">
    <div class="card-status-top bg-primary"></div>
    <div class="card-body">
        <div class="offset-1 col-10">
        @if(cambioPassword){
            <div class="row">
                <div class="col-lg-4 col-12 mb-3">
                    <label class="form-label">Correo electrónico</label>
                    <input type="text" class="form-control" name="example-text-input" placeholder="Ingresa tu correo electrónico" [(ngModel)]="payload.correo" #correoInput/>
                    <small *ngIf="correoError" class="text-danger">{{ correoError }}</small>
                </div>
                <div class="col-lg-4 col-12 mb-3">
                    <label class="form-label">Contraseña</label>
                    <input [type]="showPassword ? 'text' : 'password'" class="form-control" name="password" placeholder="Ingrese su contraseña" [(ngModel)]="payload.password" #passwordInput/>
                    
                </div>
                <div class="col-lg-2 col-12 mb-3">
                    <label class="form-label" *ngIf="!isSmallScreen" style="color: transparent;">.</label>
                    <button class="custom-show-pass" type="button" (click)="togglePasswordVisibility()" [ngClass]="{'color-SP-modo-oscuro': isDarkMode, 'color-SP': !isDarkMode}">
                    <svg  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-eye-off"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10.585 10.587a2 2 0 0 0 2.829 2.828" /><path d="M16.681 16.673a8.717 8.717 0 0 1 -4.681 1.327c-3.6 0 -6.6 -2 -9 -6c1.272 -2.12 2.712 -3.678 4.32 -4.674m2.86 -1.146a9.055 9.055 0 0 1 1.82 -.18c3.6 0 6.6 2 9 6c-.666 1.11 -1.379 2.067 -2.138 2.87" /><path d="M3 3l18 18" /></svg>
                    {{ showPassword ? 'Ocultar' : 'Mostrar' }}
                    </button>
                </div>
                <div class="col-lg-2 col-12 mb-3">
                    <label class="form-label" *ngIf="!isSmallScreen" style="color: transparent; margin-bottom: 16px!important;">.</label>
                    <button type="button" class="custom-botones-recuperacion">
                        <a routerLink="/olvide-password">Olvidé mi contraseña</a>
                    </button>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-4 col-12 mb-3">
                    <label class="form-label">Código</label>
                    <input type="text" class="form-control" name="codigo" maxlength="18" placeholder="Ingresa el código para validar" [(ngModel)]="payload.codigo"/>
                </div>

                <div class="col-lg-2 col-12" [ngClass]="isSmallScreen ? 'text-center' : 'text-end'">
                    <label class="form-label" *ngIf="!isSmallScreen" style="color: transparent;">.</label>
                    <button type="button" class="btn btn-primary boton-celular" style="background-color: #b17a45!important;" (click)="validaCodigo()" >
                    <svg width="24"  height="24"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-copy-check"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18.333 6a3.667 3.667 0 0 1 3.667 3.667v8.666a3.667 3.667 0 0 1 -3.667 3.667h-8.666a3.667 3.667 0 0 1 -3.667 -3.667v-8.666a3.667 3.667 0 0 1 3.667 -3.667zm-3.333 -4c1.094 0 1.828 .533 2.374 1.514a1 1 0 1 1 -1.748 .972c-.221 -.398 -.342 -.486 -.626 -.486h-10c-.548 0 -1 .452 -1 1v9.998c0 .32 .154 .618 .407 .805l.1 .065a1 1 0 1 1 -.99 1.738a3 3 0 0 1 -1.517 -2.606v-10c0 -1.652 1.348 -3 3 -3zm1.293 9.293l-3.293 3.292l-1.293 -1.292a1 1 0 0 0 -1.414 1.414l2 2a1 1 0 0 0 1.414 0l4 -4a1 1 0 0 0 -1.414 -1.414" /></svg>
                    Validar
                    </button>
                </div>

                <div class="col-lg-3 col-12">
                    <label class="form-label" *ngIf="!isSmallScreen" style="color: transparent;">.</label>
                    <button type="button" class="boton-celular custom-otro-codigo" (click)="solicitarCodigo()" [ngClass]="{'color-OC-modo-oscuro': isDarkMode, 'color-OC': !isDarkMode, 'text-center': isSmallScreen, 'text-start': !isSmallScreen }">
                    <svg  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-refresh-dot"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4" /><path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4" /><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /></svg>
                    Solicitar otro código
                    </button>
                </div>

            </div>

        
            <div class="row mt-5">
                
                
                
            </div>
        }@else {
            <div class="row">
                <div class="col-lg-4 col-12 mb-3">
                    <label class="form-label">Correo electrónico</label>
                    <input type="text" class="form-control" name="example-text-input" placeholder="Ingresa tu correo electrónico" [(ngModel)]="payload.correo" #correoInput/>
                    <small *ngIf="correoError" class="text-danger">{{ correoError }}</small>
                </div>
            
                <div class="col-lg-3 col-12 mb-3">
                  <label class="form-label">Contraseña</label>
                  <input [type]="showPassword ? 'text' : 'password'" class="form-control" name="example-text-input" placeholder="Crea una contraseña" [(ngModel)]="payload.cambiaPassword" #cambiaPassword/>
                </div>
      
                <div class="col-lg-3 col-12 mb-3">
                  <label class="form-label">Confirmar contraseña</label>
                  <input [type]="showPassword ? 'text' : 'password'" class="form-control" name="example-text-input" placeholder="Confirma tu contraseña" [(ngModel)]="payload.cambiaPasswordB" #cambiaPassword/>
                </div>
      
                <div class="col-lg-2 col-12 mb-3">
                  <label class="form-label" *ngIf="!isSmallScreen" style="color: transparent;">.</label>
                  <button class="custom-show-pass" type="button" (click)="togglePasswordVisibility()">
                    <svg  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-eye-off"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10.585 10.587a2 2 0 0 0 2.829 2.828" /><path d="M16.681 16.673a8.717 8.717 0 0 1 -4.681 1.327c-3.6 0 -6.6 -2 -9 -6c1.272 -2.12 2.712 -3.678 4.32 -4.674m2.86 -1.146a9.055 9.055 0 0 1 1.82 -.18c3.6 0 6.6 2 9 6c-.666 1.11 -1.379 2.067 -2.138 2.87" /><path d="M3 3l18 18" /></svg>
                    {{ showPassword ? 'Ocultar' : 'Mostrar contraseña' }}
                  </button>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-lg-2 col-6" [ngClass]="isSmallScreen ? 'text-center' : 'text-start'">
                    <button type="button" class="btn btn-primary boton-celular" style="background-color: #666!important;" (click)="olvidePass(1)" >
                    <svg  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l6 6" /><path d="M5 12l6 -6" /></svg>
                    Regresar
                    </button>
                </div>
                <div class="col-lg-2 col-6" [ngClass]="isSmallScreen ? 'text-center' : 'text-start'">
                    <button type="button" class="btn btn-primary boton-celular" style="background-color: #b17a45!important;" (click)="cambiarPass()" >
                    <svg  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-refresh"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4" /><path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4" /></svg>
                    Actualizar
                    </button>
                </div>
            </div>
        }
    </div>
    </div>
</div>