<div class="page page-center">
    <div class="container container-tight py-4">

        <form class="card card-md" [formGroup]="restorePasswordForm" (ngSubmit)="onSubmit()" autocomplete="off"
            novalidate>
            <div class="card-body">
                <div class="col-lg-12 col-12 mb-3">
                    <label class="form-label">Correo electrónico*</label>
                    <input type="email" class="form-control" name="example-text-input"
                        placeholder="Ingresa tu correo electrónico" #correoInput autocomplete="off"
                        formControlName="email"
                        [ngClass]="{'is-invalid':  emailErrors}"/>
                    <div class="invalid-feedback"> {{emailMessageError}} </div>
                </div>
                <div class="mb-3">
                    <label class="form-label required"> Contraseña actual </label>

                    <div class="row g-2">
                        <div class="col">
                            <input [type]="showPassword ? 'text' : 'password'" class="form-control" placeholder=""
                                autocomplete="off" formControlName="password"
                                [ngClass]="{ 'is-invalid': passwordErrors }" />
                            <div class="invalid-feedback">{{ passwordMessageError }}</div>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-icon" (click)="showPassword = !showPassword">
                                <i class="ti" [ngClass]="{
                      'ti-eye': showPassword,
                      'ti-eye-closed': !showPassword
                    }"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-12 mb-3">
                    <label class="form-label">Código*</label>
                    <input type="text" class="form-control" name="example-text-input"
                        placeholder="Ingresa tu correo electrónico" #correoInput autocomplete="off"
                        formControlName="codigo"
                        [ngClass]="{'is-invalid':  codigoErrors}"/>
                    <div class="invalid-feedback"> {{codigoMessageError}} </div>
                </div>
                <div class="col-lg-6 col-6 mb-3" [ngClass]="isSmallScreen ? 'text-center' : 'text-start'">
                    <label class="form-label" *ngIf="!isSmallScreen" style="color: transparent;">.</label>
                    <button type="button" class="boton-celular custom-otro-codigo" style="color: #10312B!important;" (click)="pedirCambioPassword()" [disabled]="restorePasswordForm.get('email')?.invalid">
                        <svg  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-refresh-dot"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4" /><path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4" /><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /></svg>
                        Solicitar otro código
                    </button>
                </div>
                <h2 class="card-title text-center mb-4">Restablecer contraseña</h2>
                <p class="text-muted mb-4">
                    Ingresa tu nueva contraseña
                </p>
                <div class="mb-3">
                    <label class="form-label required"> Contraseña </label>

                    <div class="row g-2">
                        <div class="col">
                            <input [type]="showPassword ? 'text' : 'password'" class="form-control" placeholder=""
                                autocomplete="off" formControlName="new_password"
                                [ngClass]="{ 'is-invalid': new_passwordErrors }" />
                            <div class="invalid-feedback">{{ new_passwordMessageError }}</div>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-icon" (click)="showPassword = !showPassword">
                                <i class="ti" [ngClass]="{
                      'ti-eye': showPassword,
                      'ti-eye-closed': !showPassword
                    }"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label required"> Repetir contraseña </label>

                    <div class="row g-2">
                        <div class="col">
                            <input [type]="repeatShowPassword ? 'text' : 'password'" class="form-control" placeholder=""
                                autocomplete="off" formControlName="new_password_confirmation"
                                [ngClass]="{ 'is-invalid': new_password_confirmationErrors }" />
                            <div class="invalid-feedback">
                                {{ new_password_confirmationMessageError }}
                            </div>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-icon"
                                (click)="repeatShowPassword = !repeatShowPassword">
                                <i class="ti" [ngClass]="{
                      'ti-eye': repeatShowPassword,
                      'ti-eye-closed': !repeatShowPassword
                    }"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary w-100" [disabled]="restorePasswordForm.invalid">
                        <!-- Download SVG icon from http://tabler-icons.io/i/mail -->
                        Restablecer Contraseña
                    </button>
                </div>
            </div>
        </form>
        <div class="text-center text-muted mt-3">
            <a routerLink="/login">Regresar</a> a la pantalla de login.
        </div>
    </div>
</div>