<!-- Page header -->
<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <h2 class="page-title">Expediente</h2>
      </div>
    </div>
  </div>
</div>
<!-- Page body -->
<div class="page-body">
  <div class="container-xl">
    <div class="card">
      <div class="row g-0">
        <div class="col-3 d-none d-md-block border-end">
          <div class="card-body">
            <h4 class="subheader">Expediente</h4>
            <div class="list-group list-group-transparent">
              @for (menu of processMenu; track $index) {
              <a
                [routerLink]="menu.route"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: !menu.hasChildren }"
                class="list-group-item list-group-item-action d-flex align-items-center"
                ><i class="icon me-1" [ngClass]="menu.iconClass"></i>
                {{ menu.label }}</a
              >
              }
            </div>
          </div>
        </div>
        <div class="col d-flex flex-column">
          <div class="card-body">
            <router-outlet />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
