<div class="page page-center">
  <div class="card">
    <div class="card-status-top bg-primary"></div>
    <div class="card-body">
      <div class="container py-5">
        @if(tramite.is_cita  && minDate && maxDate && citaConfig.availableDays && citaConfig.availableDays!.length > 0 ) {
        <div class="mb-5">
         <app-cita [citaConfig]="citaConfig" [minDate]="minDate" [maxDate]="maxDate" [idTramite]="idTramite" (onSelectCita)="getCita($event)"></app-cita>
        </div>
        } @if(cargaComponents) {
        <app-camunda-form
          [components]="camundaComponents"
          (onSubmitForm)="onSubmit($event)"
        ></app-camunda-form>
        }
      </div>
    </div>
    <div class="card-footer">
      <button
        type="button"
        class="btn btn-outline-secondary mt-2"
        (click)="cancel()"
      >
        Regresar
      </button>
    </div>
  </div>
</div>
