/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@tabler/core/src/scss/core";
// $primary: #6a1c32;
// $tertiary: #b17a45;
$primary: #2DA87F;
$tertiary: #434344;
$link-color: $primary;
$link-hover-color: $primary;
$form-select-focus-border-color: $primary;
$input-focus-border-color: $primary;

$custom-colors: (
  "primary": $primary,
  "tertiary": $tertiary
);
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../node_modules/@tabler/core/src/scss/tabler.scss";
@import "../node_modules/@tabler/icons-webfont/dist/tabler-icons.scss";

.header-color{
  border-bottom: 4px solid $primary;
}

.menu-icon {
  color: $secondary;
  margin: 0 5px 0 5px;
}
.menu-icon-xl {
  color: $secondary;
  font-size: 30px;
}
.img-shadow{
  -webkit-filter: drop-shadow(1px 1px 1px #222);
  filter: drop-shadow(1px 1px 1px #222);
}

.text-stroke{
  -webkit-text-stroke: 4px black;
  paint-order: stroke fill;
}

.table-responsive .dropdown,.table-responsive .btn-group,.table-responsive .btn-group-vertical {
  position: static;
}

.titulo-pagina{
  color: $primary;
  font-size: 3vh;
  font-weight: 600;
  margin-bottom: 40px;
}

.subtitulo-pagina{
  color: $primary;
  font-size: 2vh;
  font-weight: 400;
  margin-bottom: 25px;
}

.boton-cancelar-regresar{
  background-color: $tertiary;
  color: white;
}

.boton-siguiente-finalizar{
  background-color: $primary;
  color: white;
}

.text-success{
  color: $tertiary!important;
}

.custom-file-upload input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: flex;
  flex-direction: column;
  align-items: center; /* mantiene todo centrado */
  gap: 8px; /* espacio entre elementos */
}

.custom-file-upload label {
  display: inline-block;
  padding: 10px 20px;
  background-color: $primary;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.custom-file-upload label:hover {
  background-color: $primary;
}


.custom-show-pass {
  display: inline-block;
  padding-top: 10px!important;
  // padding: 5px 10px;
  background-color: transparent;
  color: $primary;
  border-radius: 6px;
  border: 0px transparent;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.color-SP{
  color: $primary!important
}

.color-SP-modo-oscuro{
 color: #FFF!important;
}




.custom-botones-recuperacion {
  display: inline-block;
  // padding: 5px 10px;
  background-color: transparent;
  border-radius: 6px;
  border: 0px transparent!important;
  cursor: pointer;
  font-size: 12px;
  text-decoration: underline;
  transition: background-color 0.3s;
}


// Steps

.steps {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.step-item {
  position: relative;
  text-align: center;
  width: 100%;
}

.step-marker {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  color: #fff;
  font-weight: bold;
  margin: 0 auto;
  transition: background-color 0.3s;
}

.step-content {
  margin-top: 5px;
  font-size: 14px;
}

/* Estilo cuando el paso está activo */
.step-item.active .step-marker {
  background-color: $primary;
}

/* Estilo cuando el paso ya fue completado */
.step-item.completed .step-marker {
  background-color: #434344;
}

.boton-celular{
  width: 90%!important;
  margin: 3px 0px 3px 0px;
}



.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  flex: 1;
  padding-right: 40px; /* espacio para el botón */
}

.toggle-btn {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}


// ++++++++++++++++++++++++
// INICIO
// ++++++++++++++++++++++++

// .img-carrusel{
//   height: 500px!important;
// }

// .img-carrusel-celular{
//   height: 200px!important;
// }

.card-pagos, .card-boletas, .card-servicios{
  background-color: $primary!important;
  color: #F0F0F0!important;
}

.card-servicios:before{
  content: "";
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg%20%20xmlns=%22http://www.w3.org/2000/svg%22%20%20width=%2224%22%20%20height=%2224%22%20%20viewBox=%220%200%2024%2024%22%20%20fill=%22none%22%20%20stroke=%22currentColor%22%20%20stroke-width=%222%22%20%20stroke-linecap=%22round%22%20%20stroke-linejoin=%22round%22%20%20class=%22icon%20icon-tabler%20icons-tabler-outline%20icon-tabler-device-desktop%22%3E%3Cpath%20stroke=%22none%22%20d=%22M0%200h24v24H0z%22%20fill=%22none%22/%3E%3Cpath%20d=%22M3%205a1%201%200%200%201%201%20-1h16a1%201%200%200%201%201%201v10a1%201%200%200%201%20-1%201h-16a1%201%200%200%201%20-1%20-1v-10z%22%20/%3E%3Cpath%20d=%22M7%2020h10%22%20/%3E%3Cpath%20d=%22M9%2016v4%22%20/%3E%3Cpath%20d=%22M15%2016v4%22%20/%3E%3C/svg%3E");
  background-size: 130px;
  inset: 0;
  background-repeat: no-repeat;
  background-position: 85% 10px;
  opacity: .2;
}

.card-pagos:before{
  content: "";
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg%20%20xmlns=%22http://www.w3.org/2000/svg%22%20%20width=%2224%22%20%20height=%2224%22%20%20viewBox=%220%200%2024%2024%22%20%20fill=%22none%22%20%20stroke=%22currentColor%22%20%20stroke-width=%222%22%20%20stroke-linecap=%22round%22%20%20stroke-linejoin=%22round%22%20%20class=%22icon%20icon-tabler%20icons-tabler-outline%20icon-tabler-currency-dollar%22%3E%3Cpath%20stroke=%22none%22%20d=%22M0%200h24v24H0z%22%20fill=%22none%22/%3E%3Cpath%20d=%22M16.7%208a3%203%200%200%200%20-2.7%20-2h-4a3%203%200%200%200%200%206h4a3%203%200%200%201%200%206h-4a3%203%200%200%201%20-2.7%20-2%22%20/%3E%3Cpath%20d=%22M12%203v3m0%2012v3%22%20/%3E%3C/svg%3E");
  background-size: 130px;
  inset: 0;
  background-repeat: no-repeat;
  background-position: 85% 10px;
  opacity: .2;
}

.card-boletas:before{
  content: "";
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg%20%20xmlns=%22http://www.w3.org/2000/svg%22%20%20width=%2224%22%20%20height=%2224%22%20%20viewBox=%220%200%2024%2024%22%20%20fill=%22none%22%20%20stroke=%22currentColor%22%20%20stroke-width=%222%22%20%20stroke-linecap=%22round%22%20%20stroke-linejoin=%22round%22%20%20class=%22icon%20icon-tabler%20icons-tabler-outline%20icon-tabler-notes%22%3E%3Cpath%20stroke=%22none%22%20d=%22M0%200h24v24H0z%22%20fill=%22none%22/%3E%3Cpath%20d=%22M5%203m0%202a2%202%200%200%201%202%20-2h10a2%202%200%200%201%202%202v14a2%202%200%200%201%20-2%202h-10a2%202%200%200%201%20-2%20-2z%22%20/%3E%3Cpath%20d=%22M9%207l6%200%22%20/%3E%3Cpath%20d=%22M9%2011l6%200%22%20/%3E%3Cpath%20d=%22M9%2015l4%200%22%20/%3E%3C/svg%3E");
  background-size: 130px;
  inset: 0;
  background-repeat: no-repeat;
  background-position: 85% 10px;
  opacity: .2;
}

.card-title {
  display: block;
  margin: 0 0 1rem;
  font-size: 1.5rem!important;
  font-weight: var(--tblr-font-weight-bold)!important;
  color: inherit;
  line-height: 1.5rem;
}


// ++++++++++++++++++++++++
// RECUPERACIÓN DE PASSWORD
// ++++++++++++++++++++++++

.custom-otro-codigo {
  display: inline-block;
  padding-top: 10px!important;
  background-color: transparent;
  color: $primary;
  border-radius: 6px;
  border: 0px transparent;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.color-OC{
  color: #10312B!important;
}

.color-OC-modo-oscuro{
  color: #FFF!important;
}

/* ESTILOS MEJORADOS PARA EL CARRUSEL */
.carrusel-container {
  flex: 1;
  display: flex;
  align-items: center;
}
 
.fixed-size-carousel {
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
 
.picsum-img-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}
 
.img-carrusel {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
 
.tech-list {
  list-style-type: none;
  padding-left: 0;
  li {
      font-size: 1.1rem;
      padding: 0.5rem 0;
      position: relative;
      padding-left: 1.5rem;
&::before {
          content: "•";
          color: #00a8ff;
          font-size: 1.5rem;
          position: absolute;
          left: 0;
          top: 0;
      }
  }
}