<div class="card">
    <a (click)="muestraAviso(content)" style="cursor: pointer; color: red; font-weight: 500;">
        <svg  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-folder-plus"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 19h-7a2 2 0 0 1 -2 -2v-11a2 2 0 0 1 2 -2h4l3 3h7a2 2 0 0 1 2 2v3.5" /><path d="M16 19h6" /><path d="M19 16v6" /></svg>
    </a>
    <div class="table-responsive">
        <table class="table table-vcenter text-nowrap datatable">
            <thead>
                <tr>
                    <th>
                        <button class="table-sort" (click)="sort('')">Descripción</button>
                    </th>
                    <th>
                        <button class="table-sort" (click)="sort('')">Fecha Creación</button>
                    </th>
                    <th>
                        <button class="table-sort" (click)="sort('')">Fecha Actualización</button>
                    </th>
                    <th>
                        <button class="table-sort" (click)="sort('')">Publicación</button>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!--@for (expediente of paginationData.data; track $index) {-->
                <tr>
                    <!--<td>
                        <div class="btn-list">
                            <button type="button" class="btn btn-icon" [routerLink]="'/expediente/' + expediente.id">
                                <i class="ti ti-eye"></i>
                            </button>
                            @if(expediente.tarea?.target_group && expediente.tarea?.target_group?.includes('NOTARIOS')
                            ){

                            <button class="btn btn-icon" routerLink="/tarea/{{ expediente.id }}">
                                <i class="ti ti-subtask"> </i>
                                <span class="badge badge-dot bg-red badge-notification badge-blink"></span>
                            </button>
                            }
                        </div>
                    </td>
                    <td>{{ expediente.folio }}</td>
                    <td>{{ expediente.tramite.tramite }}</td>
                    <td>{{ expediente.created_at | date : "d/M/y HH:mm" }}</td>
                    <td>{{ expediente.estatus }}</td>
                    <td>{{ expediente.updated_at | date : "d/M/y HH:mm" }}</td>-->
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>
                        <svg  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-edit"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" /></svg>
                        <svg  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-trash"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
                    </td>
                </tr>
                <!--}-->
            </tbody>
        </table>
    </div>
    <!--
    <div class="card-body">
        <p class="m-0 text-secondary">
            Mostrando <span> {{ paginationQuery.page }}</span> -
            <span> {{ paginationData.last_page }} </span> de
            <span> {{ paginationData.total }} </span> entradas
        </p>
    </div>
    <div class="card-footer">
        <ngb-pagination class="m-0 ms-auto" [(page)]="paginationQuery.page" (pageChange)="getData()"
            [pageSize]="paginationQuery.limit || 10" [boundaryLinks]="true" [collectionSize]="paginationData.total"
            [ellipses]="false" [rotate]="true" [maxSize]="5" />
    </div>
    -->
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Aviso de privacidad</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body" style="text-align: justify;">
        <div class="row">
            <div class="col-lg-12 col-12 mb-3">
                <label class="form-label">Trámite</label>
                <input type="text" class="form-control" name="example-text-input" placeholder="Ingresa tu calle"
                    placeholder="Ingrese el nombre del trámite" [(ngModel)]="payload.tramite" #tramiteInput />
            </div>
            <div class="col-lg-12 col-12 mb-3">
                <label class="form-label">Detalle</label>
                <textarea type="text" rows="5" class="form-control" name="example-text-input"
                    placeholder="Ingresa el detalle" maxlength="300" [(ngModel)]="payload.detalle"
                    #detalleInput></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cerrar</button>
        <button type="button" class="btn btn-danger" (click)="guardarTramite()">Aceptar</button>
    </div>
</ng-template>